#
# .gitignore
#

# Include all .env files in directory but not .secrets
!.env/
.secrets.js

# dependencies
node_modules/

# cdk synth
cdk.out/

# ignore
.git-DISABLED/
.ignore/

# misc
.DS_Store

# debug
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# yarn
.pnp/
.pnp.js
